/* Imported Typeface Files */

@font-face {
    font-family:Lato;
    src: url(../fonts/lato-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:Alfa Slab One;
    src: url(../fonts/alfa-slab-one-regular.ttf);
    font-style:normal;
    font-weight:normal;
}


/* Root */

html {
    font-size:16px;
}


/* Body & Main  */

body {
    font-family:Lato, Arial, sans-serif;
    font-size:1rem;
    padding:1rem;
    min-width:39rem;
    max-width:50rem;
    margin:0 auto;
}
main {
    background-color:#ddd;
    background-image:url(../images/wrinkled-white-paper-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border:1px solid #333;
}

/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */

/* NO changes should be made to any of the code above. */

/* The first heading style rule has been completed for you. Examine it carefully
   to get an idea of some of the style properties you will need to use; then
   complete the style code according to the instructions in Canvas. */

/* NOTE: While you will be using some of the same CSS properties, the VALUES 
   may need to be different in order to style the page correctly. */


/* Headings  */

h1 {
    text-transform: uppercase;
    font-size:6rem;
    margin: 0;
    letter-spacing: .5rem;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
    font-weight: normal;
}

h2 {
    text-transform: uppercase
    font-size:3rem;
    margin: 0;
    letter-spacing: .25rem;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
    font-weight: normal;
}

h3 {
    text-transform: uppercase
    font-size:2rem;
    margin: 0;
    letter-spacing: .25rem;
    color:black;
    text-shadow:none;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
    font-weight: normal;
}

<style>
h4 > span {
    padding: 0 ; .5 rem;
    text-transform: uppercase
    font-size:1.5rem;
    margin: 0;
    letter-spacing: .25rem;
    padding-bottom: 1.125rem;
    color:black;
    text-shadow:none;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
    font-weight: normal;
}
</style>
h5 {
    text-transform: uppercase
    font-size:1rem;
    margin: 0;
    top margin: .25rem;
    letter-spacing: .25rem;
    padding: .5rem .5rem .5rem .5rem;
    color:#FFF;
    text-shadow:none;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
    font-weight: normal;
    background color:#333;
}


/* Section & Paragraph */

section {
    top margin: .5rem;
}

p  {top margin: 1rem;
    bottom margin: 1rem;
    left margin: auto;
    right margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 90%;
    text: left;
}


/* Image & Figure */

img {
    width: 100%;
    margin: 0 auto 0 auto;
    max-width: 50rem;
}

figure {
    bottom margin: 2rem;

}

figcaption {
    padding-top: .5rem;
    text-align: right;
}


/* Footer */

footer {
    padding: 1rem 1rem 1rem 1rem;
    border-top: 2rem solid #333;        
}
